/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.absolute-bg--gradient {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/**
 * Color Helpers
 */
.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.video-container {
  text-align: center;
  padding: 12px 0 24px 0;

  iframe {
    width: 100%;
    max-width: 640px;
  }
}
